numpy
sympy==1.1.1
pyrsistent
git+https://github.com/inducer/pytools.git#egg=pytools
git+https://github.com/inducer/pymbolic.git#egg=pymbolic
git+https://github.com/inducer/islpy.git#egg=islpy
git+https://github.com/inducer/pyopencl.git#egg=pyopencl
git+https://github.com/inducer/boxtree.git#egg=boxtree
git+https://github.com/benSepanski/loopy.git@loopy_to_loopyy#egg=loo.pyy
git+https://github.com/inducer/pyfmmlib.git#egg=pyfmmlib
